<!DOCTYPE html>
{% extends 'base_template.html' %}
{% block privacy %}
<div class="container mt-5">
    <pre style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">Praeder's Data Policy and Terms

PERSONAL INFORMATION WE COLLECT

When you visit the Site, we do not collect any data.

When a Scan is submitted to our website, we retain the items for only 24h before automatically deleting them. No Metadata is stored.

Scan Data is NEVER shared with any 3rd parties.

We are never a replacement for a consultation with your doctor. Approach a medical professional if you have any symptoms that require medical attention.

CONTACT US
For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact me @viggibear
    </pre>
</div>
{%endblock%}